@model IEnumerable<MailModel>

@{
    ViewData["Title"] = "Inbox";
}

<h2>@ViewBag.Title</h2>

<div>

    <a asp-area="" asp-controller="Mail" asp-action="Create">
        <button type="button">Create new email</button>
    </a>
    <table id="table-id" class="stylish-table">
        <tr>
            <th>Subject</th>
            <th>Snippet</th>
            <th>From</th>
            <th>Date</th>
            <th>Read</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var mail in Model)
        {
                <tr id="tr-@mail.Id">
                    <td>
                        @mail.Subject
                    </td>
                    <td>
                        @mail.Body.Substring(0, mail.Body.Length < 20 ? mail.Body.Length : 20)...
                    </td>
                    <td>
                        @mail.FromId
                    </td>
                    <td>
                        @mail.Date
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = mail.Id })
                    </td>
                    <td>
                        <a href="#" onclick="deleteMail('@Url.Action("Delete", "Mail", null)/@mail.Id', this, 'table-id')">Delete</a>
                    </td>
                </tr>
        }
    </table>
</div>